<footer class="footer">
  <ul>
    <li>
      <a href="/">ABOUT</a>
    </li>
    <li>
      <a href="https://github.com/ndrwhr/svg-animations">SOURCE CODE</a>
    </li>
    <li>
      <a href="http://andrew.wang-hoyer.com">MORE EXPERIMENTS</a>
    </li>
  </ul>
</footer>
