<header class="header">
  <h1>SVG + CSS = {{ svgs.misc.star.minXML | safe }}</h1>
  <p>Everything here is made with only SVGs, CSS, and HTML.</p>
  <p>No images<sup>
      <a href="#footnote-1">†</a>
    </sup>. No JavaScript<sup>
      <a href="#footnote-2">‡</a>
    </sup>.</p>
</header>
