<header class="header">
  <h1>SVG + CSS = {{ svgs.miscSvgs.star.xml | safe }}</h1>
  <p>Everything here is made with only SVGs, CSS, and HTML.</p>
  <p>No images<sup>†</sup>. No javascript<sup>‡</sup>.</p>
</header>
