<ol class="paging">
  <li class="paging__page">
    {% if pagination.previousPageHref %}
      <a class="paging__page-link" href="{{pagination.previousPageHref | url}}">PREV</a>
    {% else %}
      <span class="paging__page-link paging__page-link--disabled">
        PREV
      </span>
    {% endif %}
  </li>

  {% for href in pagination.hrefs %}
    <li class="paging__page {% if page.url == pagination.hrefs[ loop.index0 ] %}paging__page--selected{% endif %}">
      <a
        href="{{ href | url}}"
        class="paging__page-link"
      >
        {{ loop.index }}
      </a>
    </li>
  {% endfor %}

  <li class="paging__page">
    {% if pagination.nextPageHref %}
      <a class="paging__page-link" href="{{pagination.nextPageHref | url}}">NEXT</a>
    {% else %}
      <span class="paging__page-link paging__page-link--disabled">
        NEXT
      </span>
    {% endif %}
  </li>
</ol>
