---
ogImageUrl: "/assets/default-og.jpg"
title:
  - "SVG ANIMATIONS"
---
{% set css %}
{% include "css/base.css" %}
{% include "css/site.css" %}
{% for sheet in css %}
  {% include sheet %}
{% endfor %}
{% endset %}

{% if svg %}
  {% set title = ([svg.title, title[0]])%}
  {% set ogImageUrl = svg.ogImageUrl %}
{% else %}
  {% if dir %}
    {% set title = ([dir.title, title[0]])%}
    {% set ogImageUrl = dir.ogImageUrl %}
  {% endif %}
{% endif %}
{% set title = title | join(" | ") %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15032423-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-15032423-1');
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="author" content="Andrew Wang-Hoyer"/>
    <meta name="description" content="{{svgs.animations.list.length}} SVG and CSS animations by Andrew Wang-Hoyer"/>

    <link rel="icon" href="https://andrew-hoyer.com{{"/assets/icon.svg" | url}}"/>
    <link rel="icon" href="https://andrew-hoyer.com{{"/assets/icon.png" | url}}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:url" content="https://andrew-hoyer.com{{page.url | url}}"/>
    <meta property="og:image" content="https://andrew-hoyer.com{{ogImageUrl | url }}"/>

    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
    <style>
      {{css | cssmin | safe}}
    </style>
  </head>
  <body>
    <div class="site">
      {{ content | safe }}
    </div>
  </body>
</html>
