* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
}

html {
  font-size: calc(0.5vw + 30.5%);
}

body {
  font-family: 'Inconsolata';
  font-size: 2rem;
  color: black;
  background: white;
}

.no-wrap {
  white-space: nowrap;
}
