.variant__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.variant__anim {
  flex: 1;
  margin-bottom: 3rem;
}

.variant__anim svg {
  max-height: calc(100vh - 10vw);
  max-width: calc(100vw - 10vw);
}

.variant__nav {
  display: block;
}

.variant__nav--disabled {
  text-decoration: line-through;
  cursor: not-allowed;
}

.variant__variants-header {
  margin-bottom: 3rem;
}

.variant p {
  margin-bottom: 3rem;
  line-height: 1.75;
}

.variant p:last-of-type {
  margin-bottom: 6rem;
}
